# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
components/blocks/cards-demo-1.tsx
components/blocks/cards-demo-2.tsx
components/blocks/cards-demo-3.tsx
components/blocks/expandable-card-demo-grid.tsx
components/blocks/expandable-card-demo-standard.tsx
components/blocks/features-section-demo-1.tsx
components/blocks/features-section-demo-2.tsx
components/blocks/features-section-demo-3.tsx
components/blocks/focus-card.tsx
components/example/3d-card-demo-2.tsx
components/example/3d-card-demo.tsx
components/example/3d-pin-demo.tsx
components/example/animated-modal-demo.tsx
components/example/animated-tooltip-demo.tsx
components/example/apple-cards-carousel-demo-2.tsx
components/example/apple-cards-carousel-demo.tsx
components/example/aurora-background-demo.tsx
components/example/background-beams-demo.tsx
components/example/background-boxes-demo.tsx
components/example/background-gradient-animation-demo.tsx
components/example/background-gradient-demo.tsx
components/example/bento-grid-demo-2.tsx
components/example/bento-grid-demo-3.tsx
components/example/bento-grid-demo.tsx
components/example/canvas-reveal-effect-demo-2.tsx
components/example/canvas-reveal-effect-demo-3.tsx
components/example/canvas-reveal-effect-demo.tsx
components/example/card-hover-effect-demo.tsx
components/example/card-stack-demo.tsx
components/example/container-scroll-animation-demo.tsx
components/example/direction-aware-hover-demo.tsx
components/example/dot-background-demo.tsx
components/example/evervault-card-demo.tsx
components/example/flip-words-demo.tsx
components/example/floating-navbar-demo.tsx
components/example/following-pointer-demo.tsx
components/example/glare-card-demo-2.tsx
components/example/glare-card-demo.tsx
components/example/globe-demo.tsx
components/example/glowing-stars-demo.tsx
components/example/google-gemini-effect-demo.tsx
components/example/grid-background-demo.tsx
components/example/grid-demo.tsx
components/example/grid-small-background-demo.tsx
components/example/hero-highlight-demo.tsx
components/example/hero-parallax-demo.tsx
components/example/hover-border-gradient-demo.tsx
components/example/images-slider-demo.tsx
components/example/infinite-moving-cards-demo.tsx
components/example/lamp-demo.tsx
components/example/layout-grid-demo.tsx
components/example/link-preview-demo-2.tsx
components/example/link-preview-demo.tsx
components/example/macbook-scroll-demo.tsx
components/example/meteors-demo.tsx
components/example/moving-border-demo.tsx
components/example/multi-step-loader-demo.tsx
components/example/navbar-menu-demo.tsx
components/example/parallax-scroll-2-demo.tsx
components/example/parallax-scroll-demo.tsx
components/example/placeholders-and-vanish-input-demo.tsx
components/example/shooting-stars-and-stars-background-demo.tsx
components/example/sidebar-demo-2.tsx
components/example/sidebar-demo.tsx
components/example/signup-form-demo.tsx
components/example/sparkles-demo.tsx
components/example/sparkles-fullpage-demo.tsx
components/example/spotlight-demo.tsx
components/example/sticky-scroll-reveal-demo.tsx
components/example/svg-mask-effect-demo.tsx
components/example/tabs-demo.tsx
components/example/tailwindcss-buttons-demo.tsx
components/example/text-generate-effect-demo-2.tsx
components/example/text-generate-effect-demo.tsx
components/example/text-reveal-card-demo.tsx
components/example/tracing-beam-demo.tsx
components/example/typewriter-effect-demo-1.tsx
components/example/typewriter-effect-demo-2.tsx
components/example/vortex-demo-2.tsx
components/example/vortex-demo.tsx
components/example/wavy-background-demo.tsx
components/example/wobble-card-demo.tsx
components/ui/3d-card.tsx
components/ui/3d-pin.tsx
components/ui/animated-modal.tsx
components/ui/animated-tooltip.tsx
components/ui/apple-cards-carousel.tsx
components/ui/aurora-background.tsx
components/ui/background-boxes.tsx
components/ui/background-gradient-animation.tsx
components/ui/background-gradient.tsx
components/ui/bento-grid.tsx
components/ui/canvas-reveal-effect.tsx
components/ui/card-hover-effect.tsx
components/ui/card-stack.tsx
components/ui/container-scroll-animation.tsx
components/ui/direction-aware-hover.tsx
components/ui/evervault-card.tsx
components/ui/flip-words.tsx
components/ui/floating-navbar.tsx
components/ui/following-pointer.tsx
components/ui/glare-card.tsx
components/ui/globe.tsx
components/ui/glowing-stars.tsx
components/ui/google-gemini-effect.tsx
components/ui/grid.tsx
components/ui/hero-highlight.tsx
components/ui/hero-parallax.tsx
components/ui/hover-border-gradient.tsx
components/ui/images-slider.tsx
components/ui/infinite-moving-cards.tsx
components/ui/input.tsx
components/ui/label.tsx
components/ui/lamp.tsx
components/ui/layout-grid.tsx
components/ui/link-preview.tsx
components/ui/macbook-scroll.tsx
components/ui/meteors.tsx
components/ui/moving-border.jsx
components/ui/moving-line.tsx
components/ui/multi-step-loader.tsx
components/ui/navbar-menu.tsx
components/ui/placeholders-and-vanish-input.tsx
components/ui/sidebar.tsx
components/ui/sparkles.tsx
components/ui/spotlight.tsx
components/ui/sticky-scroll-reveal.tsx
components/ui/svg-mask-effect.tsx
components/ui/tabs.tsx
components/ui/tailwindcss-buttons.tsx
components/ui/text-generate-effect.tsx
components/ui/text-reveal-card.tsx
components/ui/tracing-beam.tsx
components/ui/typewriter-effect.tsx
components/ui/vortex.tsx
components/ui/wavy-background.tsx
components/ui/wobble-card.tsx
kaiser.zip
server.js
